.doacao {
  background-color: #d86e77;
  width: 100%;
  margin-bottom: 10rem;
  height: 300px;
}

.image {
  position: relative;
  transform: rotate(-10deg);
  float: right;
  margin-top: 100px;
  margin-right: 250px;
}

.texto {
  position: relative;
  padding-top: 11rem;
  padding-left: 10rem;
  font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
  font-weight: bold;
  font-size: 100px;
}
