.footer {
  padding: 1rem;
  background-color: #2e3532;
  color: rgba(255, 255, 255, 1);
}

.copy1 {
  text-align: left;
  padding-top: 1rem;
}
.copy2 {
  text-align: right;
  position: relative;
  bottom: 1.4rem;
}

@media (max-width: 950px) {
  .copy1 {
    text-align: center;
  }
  .copy2 {
    text-align: center;
    position: relative;
    bottom: 0;
  }
}

.primeira {
  margin-right: 50px;
  color: #ffff;
  font-family: roboto, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.segunda {
  margin-left: -50px;
  h4 {
    padding-top: 1.5rem;
    color: #ffff;
    font-family: roboto, Sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.vl {
  border-left: 2px solid #777;
  height: 100%;
}

.linhaG {
  margin-top: 60px;
  border-top: 3px solid #ffff;
  width: 100%;
}
.linhaF {
  margin-top: 60px;
  border-top: 1px solid #ffff;
  width: 100%;
}

.display {
  display: block;
}

.terceiraCol {
  text-align: center;
  display: block;
  h4 {
    padding-top: 1.5rem;
    color: #ffff;
    font-family: roboto, Sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.terceira {
  text-align: center;
  h4 {
    padding-top: 1.5rem;
    color: #ffff;
    font-family: roboto, Sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media (max-width: 991px) {
  .terceiraCol {
    display: none;
  }
  .display {
    display: none;
  }
}
@media (min-width: 992px) {
  .terceira {
    display: none;
  }
}

@media (max-width: 767px) {
  .primeira {
    margin-left: -20px;
  }
}
